
.vs/Haptic-PBR-Maps/v17/fileList.bin
.vs/Haptic-PBR-Maps/FileContentIndex/0cc0e7e8-5de1-443c-93c0-e309c391468c.vsidx
*.vsidx
.vs/Haptic-PBR-Maps/v17/.suo
.vs/Haptic-PBR-Maps/v17/DocumentLayout.json
Haptic-PBR-Maps.pyproj
Haptic-PBR-Maps.sln
ml_dms_dataset/__pycache__/inference.cpython-38.pyc
.vs/Haptic-PBR-Maps/v17/DocumentLayout.backup.json
